body{
    background-color: #00fa9A;
    margin: 20%;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 5px #000000;
    font-size: 7vh;
}
img {
    display: inline-block;
    width: 100%;
}
#caption {
    font-size: 17px;
    font-family: Gill Sans ;
    color: black;

}
div#tribute-data{
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98fb98  ;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px ;
}
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px  10px black;
}
#tribut-link{
    text-decoration: none;
    color: black;
}